/* common */
.mb20 {margin-bottom:20px !important;}
.mb40 {margin-bottom:40px !important;}
.mb80 {margin-bottom:80px !important;}
br.pc{display:block;}
br.mo{display:none;}
.txtL{text-align:left !important;}
.txtC{text-align:center !important;}
.txtR{text-align:right !important;}
.color_gr{color:#19b29b;}
.color_bl{color:#4a89db;}
.sust_safety.new .full{width:calc(100vw - 17px);margin-left:-15px;background:#f8f8f8;border:none !important;}

/* flex */
[class^="flex"] {display:flex; align-items:center;}
[class^="flex"][class*="-evenly"]:not([class*="space-"])>* {flex:1;}
[class^="flex"][class*="-justify"] {justify-content:space-between;}
[class^="flex"][class*="-right"] {justify-content:flex-end;}
[class^="flex"][class*="-center"] {justify-content:center;}
[class^="flex"][class*="-space-evenly"] {justify-content:space-evenly;}
[class^="flex"][class*="-vertical"] {flex-direction:column;}
[class^="flex"][class*="-vertical"][class*="-reverse"] {flex-direction:column-reverse;}
[class^="flex"][class*="-unset"] {align-items:flex-start;}
[class^="flex"][class*="-bottom"] {align-items:flex-end;}
[class^="flex"][class*="-wrap"] {flex-wrap:wrap;}
[class^="flex"] .auto {flex:1 1 auto;}
[class^="flex"][class*="gap-4"] {gap: 4px !important;}
[class^="flex"][class*="gap-8"] {gap: 8px !important;}
[class^="flex"][class*="gap-12"] {gap: 12px !important;}
[class^="flex"][class*="gap-16"] {gap: 16px !important;}
[class^="flex"][class*="gap-20"] {gap: 20px !important;}
[class^="flex"][class*="gap-24"] {gap: 24px !important;}
[class^="flex"][class*="gap-48"] {gap: 48px !important;}

/* tab menu */
.sust_safety.new .sub_tab{margin:0 auto;}
.sust_safety.new .sub_tab.type2 a.on{position:relative;border-bottom:none;}
.sust_safety.new .sub_tab.type2 a.on::before{content:'';position:absolute;left:0;bottom:0;width:100%;height:2px;background:#fff;}
.category_nav.type3{position:relative;display:flex;margin:-2px 0 80px;border:2px solid #00A88E;}
.category_nav.type3 a{display:flex;align-items:center;justify-content:center;flex: 1 1 0;width:100%;height:64px;margin:0;border:none;box-sizing:border-box;color:#555;line-height:150%;}
.category_nav.type3 a:first-child{margin-left:-2px;}
.category_nav.type3 a:last-child{margin-right:-2px;}
.category_nav.type3 a.on{background:#00A88E;color:#fff;}
.category_nav.type3 a:hover{background:#00A88E;color:#fff;}

/* title */
.ct_tit{margin-bottom:40px;color:#222;font-size:3.4rem;letter-spacing:-0.06em;font-weight:700;line-height:130%;text-align:left;}
.ct_tit2{margin-bottom:40px;color:#222;font-size:3.4rem;letter-spacing:-0.06em;font-weight:700;line-height:130%;text-align:center;}
.ct_tit2>p{margin-top:40px;color:#222;font-size:1.7rem;letter-spacing:-0.06em;font-weight:400;text-align:center;}
.tit{margin-bottom:40px;color:#222;font-size:2.4rem;font-weight:700;line-height:100%;letter-spacing:-0.06em;text-align:left;}
.tit_dot{position:relative;margin-bottom:20px;color:#222;font-size:2.4rem;font-weight:700;line-height:100%;letter-spacing:-0.06em;text-align:left;}
.tit_dot::before{content: '·';}

/* board */
.scroll_wrap.type2>table{min-width:880px;}
.scroll_wrap.col_2{display:flex;}
.scroll_wrap.col_2>table{width:50%;min-width:584px;}
.scroll_wrap.col_2>table+table{border-left:2px solid #333;}
.board_list{width:100%;border-top:2px solid #333;}
.board_list th{padding:20px 0;border-right:1px solid #ddd;border-bottom:1px solid #ddd;background:#F8F8F8;color:#222;font-size:1.5rem;font-weight:700;letter-spacing:-0.06em;text-align:center;}
.board_list tr th:last-child{border-right:none;}
.board_list tr th.line,
.board_list tr td.line {border-right:1px solid #ddd;}
.board_list td{padding:20px;border-bottom:1px solid #ddd;border-right:1px solid #ddd;background:#fff;color:#555;font-size:1.5rem;letter-spacing:-0.06em;word-break:keep-all;text-align:center;}
.board_list td:last-child{border-right:none;}
.board_list td.txtL{text-align:left;}
.board_list td ul li{text-align:left;}
.board_list td ul.list_dot li{padding-left:7px;}
.board_list td ul.list_dot li::before{width:2px;height:2px;border-radius:0;}
.board_list .lineBt,
.board_list tr.lineBt td{border-bottom:1px solid #999;}
.board_list tr.bg_gr td:not([rowspan]){background:#d6d6d6;border-right-color:#fff;}
.board_list tr.total td{font-weight:700;background:#f8f8f8;}
.board_tit{margin-bottom:20px;color:#222;font-size:2rem;font-weight:700;line-height:100%;letter-spacing:-0.06em;text-align:left;}
.txt_info {color:#555;font-size:15px;line-height:100%;letter-spacing:-0.06em;text-align:left;}
.txt_info.top {margin-bottom:15px;text-align:right;}
.txt_info.bot {margin-top:20px;}
.txt_info + .txt_info{margin-top:12px;}

/* button */
.btn_down{position:relative;display:inline-block;padding:0 21px 0 30px;margin-top:20px;color:#222;font-size:17px;font-weight:700;line-height:100%;letter-spacing:-0.06em;text-align:left;}
.btn_down:hover{text-decoration:underline;}
.btn_down::before{content:'';position:absolute;left:0;top:0;width:20px;height:16px;background:url('../img/ico/ico_filedown.png') no-repeat center;}
.btn_down::after{content:'';position:absolute;right:0;top:4px;width:11px;height:8px;background:url('../img/ico/ico_arrR_b.png') no-repeat center;}

/* accordion(FAQ) */
.faq-list li.content-visible .faq-content{display:block;}
.faq-list3 li a.faq-trigger{padding:40px 60px 40px 20px;color:#000;font-size:2rem;font-weight:700;}
.faq-list3 li a.faq-trigger .mo-tit{display:none;margin-bottom:40px;color:#222;font-size:24px;}
.faq-list3 li a.faq-trigger>div{display:flex;gap:4px;}
.faq-list3 li a.faq-trigger>div span{flex-shrink:0;}
.faq-list3 li a.faq-trigger::after, .faq-list3 li a.faq-trigger::before{background:#bbb;}
.faq-list3 li.content-visible a.faq-trigger{color:#000;}
.faq-list3 .faq-content{padding:40px 20px;background:#fbfbfb;font-size:1.6rem;}
.faq-list3 .faq-content>div{display:flex;gap:4px;}
.faq-list3 .faq-content>div span{flex-shrink:0;}
.gov3 .sust_list dl{border:0;padding-bottom:64px;}
.gov3 .sust_list dl dd span{font-weight:400;}
.gov3 .faq-list{margin-top:0;}
.gov3 .faq-list li dl{padding:0;}
.gov3 .faq-tit{line-height:0;margin-top:20px;}
.gov3 .faq-list li a.faq-trigger{padding:80px 0;}
.gov3 .faq-trigger::after, .gov3 .faq-trigger::before{top:107px;background:#000;}
.gov3 .content-visible .faq-trigger::before, .gov3 .content-visible .faq-trigger::after{background:#000;}
.gov3 .faq-content{padding:30px 0 0;background:#fff;border:0;color:#222;}
.faq-list4 li a.faq-trigger{padding:80px 0;font-weight:700;}
.faq-list4 li.content-visible a.faq-trigger{padding:80px 0 20px;border-bottom:none;color:#000;font-weight:700;}
.faq-list4 li a.faq-trigger::after, 
.faq-list4 li a.faq-trigger::before{display:none;}
.faq-list4 li a [class^="tit"]{position:relative;}
.faq-list4 li a [class^="tit"]::after{content:'';position:absolute;right:25px;top:50%;width:24px;height:15px;background:url(../img/sustainability/new02/ico_arrB_gray.png);transform:translateY(-50%);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;transition-property:transform;-webkit-transition-duration:.2s;-moz-transition-duration:.2s;transition-duration:.2s;}
.faq-list4 li.content-visible a [class^="tit"]::after{background:url(../img/sustainability/new02/ico_arrB_black.png);transform:translateY(-50%) rotateX(180deg);}
.faq-list4 li a [class^="tit"][class*="-df"]{font-size:3.4rem;}
.faq-list4 li a [class^="tit"][class*="-sm"]{font-size:2rem;}
.faq-list4 li a [class^="tit"][class*="-line"]{position:relative;margin-top:20px;line-height:100%;}
.faq-list4 li a [class^="tit"][class*="-line"]::before{content:'';position:absolute;left:0;top:-20px;width:25px;height:2px;background:#19B29B;}
.faq-list4 li a [class^="tit"][class*="-dot"]::before{content:'·';}
.faq-list4 li.content-visible a.faq-trigger .tit-df{margin-bottom:20px;}
.faq-list4 .faq-content{background:#fff;padding:0 0 80px;}

/* contents */
.sust_safety.new div[class^="sec"]{padding:80px 0;border-bottom:1px solid #ddd;}
.sust_safety.new div[class^="sec"]:last-of-type{padding:80px 0 0;border-bottom:none;}

.list_dot li{padding-left:9px;position:relative;letter-spacing:-1.02px;}
.list_dot li::before{content:'';display:block;width:3px;height:3px;border-radius:3px;background:#222;position:absolute;left:0;top:10px;}
.list_dot.gray li::before{background:#ccc;}
.list_dot.gray2 li::before{background:#555;}
.list_dot.right li{padding-left:0;padding-right:9px;}
.list_dot.right li::before{display:none;}
.list_dot.right li:after{content:'';display:block;width:3px;height:3px;border-radius:3px;background:#222;position:absolute;right:0;top:10px;}
.list_dot.right.gray li::after{background:#ccc;}

.tit_box{display: flex;text-align:left;margin-top: -10px;}
.tit_box dt{width:290px;font-size:3.4rem;font-weight:700;line-height:5rem;flex:1 0 auto;letter-spacing:-2.04px;color:#222;}
.tit_box dd{width:calc(100% - 290px);margin-top:10px;padding-top:20px;position:relative;flex:1 1 auto;color:#222;}
.tit_box dd:before{content:'';display:block;width:25px;height:2px;background:#19b29b;position:absolute;left:0;top:0;}
.tit_box dd .text {font-size:1.7rem;word-break:keep-all;}
.tit_box dd .text+.list_dot{margin-top:50px;}
.tit_box dd .ceo_sign{margin-top:80px;text-align:right;}
.tit_box dd .ceo_sign strong{display:block;margin-bottom:25px;font-size:2rem;letter-spacing:-1.2px;}

.img_list{display:flex;flex-wrap:wrap;justify-content:flex-start;column-gap:25px;row-gap:40px;}
.img_list.col04{column-gap:30px;row-gap:20px;}
.img_list.col05{column-gap:20px;flex-wrap:nowrap;}
.img_list.col02 li{width:calc(50% - 14px);}
.img_list.col04 li{width:calc(25% - 23px);}
.img_list p{color:#555;font-size:15px;line-height:100%;text-align:left;}
.img_list p.top{margin-bottom:15px;}
.img_list p.bot{margin-top:20px;} 
.img_list p.mobile{display:none;}
.img_list strong{color:#222;font-size:1.7rem;line-height:100%;text-align:center;}

.goal{width:68.38%;margin:0 auto;padding:30px;border-radius:150px;background-image:linear-gradient(to bottom, #33b9a5, #40a7c9 69%, #5082e6);}
.goal ul{width:100%;height:100%;background:#fff;border-radius:120px;padding:50px 0;}
.goal ul li{font-size:3.4rem;color:#222;letter-spacing:-2.04px;line-height:130%;}
.goal ul li .color_bl{font-weight:700;}

.step_list{display:flex;flex-wrap:wrap;margin-top:70px;gap:19px;}
.step_list > div{position:relative;flex:1 0 auto;width:360px;min-height:283px;padding:41px 30px 66px;background:#F7FAFB;text-align:left;}
.step_list > div::before{content:'';position:absolute;left:50%;top:-13px;width:38px;height:38px;background:#F7FAFB;transform: translateX(-50%) rotate(45deg);}
.step_list .step_01 dl{color:#4a89db;}
.step_list .step_02 dl{color:#3dabc1;}
.step_list .step_03 dl{color:#19b29b;}
.step_list dl dt{margin-bottom:8px;font-size:3.4rem;line-height:100%;letter-spacing:-2.04px;}
.step_list dl dd{font-size:2rem;}
.step_list .list_dot{margin-top:30px;}
.step_list .list_dot li{font-size:1.7rem;letter-spacing:-1.02px;}
.step_sub_txt p{margin-bottom:13px;font-size:2rem;font-weight:700;}

.certi_box{display:flex;justify-content:space-between;max-width:1170px;margin:80px auto 0;gap:54px;padding:0 15px;}
.certi_box+.certi_box{margin-top:110px;}
.certi_box .tit.mobile{display:none;}
.certi_box>div{text-align:left;}
.certi_box>div:not(.img_box){flex-shrink:0;}
.certi_box .img_box{margin:0;text-align:right;order:1;}
.certi_box dl + dl{margin-top:50px;}
.certi_box dl dt{position:relative;padding:20px 0 30px;color:#19b29b;font-size:2rem;font-weight:700;}
.certi_box dl dt::before{content:'';display:block;width:25px;height:2px;background:#19b29b;position:absolute;left:0;top:0;}

.env1 .ct_tit2{margin-bottom:80px;}
.env1 .sec1 .tit_box{margin-top:80px;}
.env1 .sec2 .step_sub_txt{margin-top:30px;}
.env1 .sec3 .ct_tit2{line-height:1.6;}
.env1 .sec3 .img_box{position:relative;padding: 119px 0 122px;}
.env1 .sec3 .system_list{width:100%;height:100%;position:absolute;left:0;top:0;}
.env1 .sec3 .system_list dl{position:absolute;text-align:left;}
.env1 .sec3 .system_list dl .tit_mo{display:none;position:relative;padding-bottom:26px;margin-bottom:20px;font-size:2.4rem;font-weight:700;text-align:left;}
.env1 .sec3 .system_list dl.list_01{left:50%;transform:translateX(-50%);}
.env1 .sec3 .system_list dl.list_02{left:5.5%;bottom:0;text-align:right;}
.env1 .sec3 .system_list dl.list_03{right:2%;bottom:2.4%;}
.env1 .sec3 .system_list dl dt{font-size:1.5rem;letter-spacing:-0.9px;font-weight:700;}
.env1 .sec3 .system_list dl dd{font-size:1.5rem;letter-spacing:-0.9px;margin-top:17px;}
.env1 .sec4{border-bottom:none !important;}
.env1 .sec4 .process_list{margin-top:119px;display:flex;justify-content:center;}
.env1 .sec4 .process_list dl+dl{position:relative;margin-left:-19px;}
.env1 .sec4 .process_list dl+dl::before{content:'';position:absolute;left:0;top:0;width:19px;height:255px;background:url(../img/sustainability/new02/process_bg.png) no-repeat center;z-index:1;}
.env1 .sec4 .process_list dt{position:relative;padding-bottom:135px;}
.env1 .sec4 .process_list dt::before{content:'';position:absolute;left:50%;bottom:20px;width:7px;height:115px;background:url(../img/sustainability/new02/process_line.png) no-repeat center;transform:translateX(-50%);}
.env1 .sust_system .certification{gap:54px;}
.env1 .sust_system .certification > div{margin-top:0;}

.env2 .tit_box{padding-bottom:80px;}
.env2 .sec3 dd{display:flex;flex-direction:column;gap:80px;}
.env2 .sec3 .img_list li{display:flex;border:1px solid #ddd;}
.env2 .sec3 .img_list li+li{margin-top:40px;}
.env2 .sec3 .img_list li.left .txt_box{order:1;}
.env2 .sec3 .img_list .txt_box{width:50%;padding:50px 40px;}
.env2 .sec3 .img_list .txt_box strong{display:block;position:relative;padding-bottom:20px;margin-bottom:20px;font-size:2.4rem;font-weight:700;line-height:100%;text-align:left;}
.env2 .sec3 .img_list .txt_box strong::before{content:'';position:absolute;left:0;bottom:0;width:25px;height:2px;background:#19B29B;}
.env2 .sec3 .img_list .txt_box span{line-height:1.6;}
.env2 .sec3 .img_list .img_box{position:relative;}
.env2 .sec3 .img_list .img_box .img_desc{position:absolute;right:10px;bottom:10px;color:#fff;font-size:1.5rem;font-weight:700;line-height:100%;text-shadow:1px 2px 4px rgba(0, 0, 0, 0.25);}
.env2 .sec3 .img_list .img_Box .img_desc.left{left:10px;right:auto;}

.env3 .img_list{margin-top:80px;}
.env3 .sec1 .tit_box{margin-bottom:50px;}
.env3 .sec1 .sub_text{margin-top:80px;}
.env3 .sec3 .img_list{margin-top:57px;}
.env3 .sec4 .ct_tit{margin-bottom:0;}
.env3 .sec4 .faq-list4{margin-top:0;border-top:none;}
.env3 .board_list .in-table{position:relative;}
.env3 .board_list .in-table ul{margin:20px -21px -21px 0;}
.env3 .board_list .in-table li{display: flex;align-items: center;justify-content: center;height:66px;border:1px solid #ddd;}
.env3 .board_list .in-table li+li{margin-top: -1px;}
.env3 .board_list td small{font-size:7px;}

.soc1 .sec1 .img_box{margin-bottom:80px;}
.soc1 .sec3 .step_sub_txt.top{margin:0 0 100px;}
.soc1 .sec3 .step_sub_txt{margin-top:50px;}
.soc1 .sec3 .step_sub_txt .list_dot{width:fit-content;margin:20px auto 0;}
.soc1 .sec3 .step_sub_txt .list_dot li{font-size:1.5rem;}
.soc1 .sec3 .step_list{gap:30px;}
.soc1 .sec3 .step_list > div{padding:44px 30px 64px;}
.soc1 .sec3 .step_list dl dt{margin-bottom:12px;}
.soc1 .sec4{border-bottom:none !important;}
.soc1 .sec4 .ct_tit2{margin-bottom:80px;}
.soc1 .sec4 .list_desc{display:none;margin-top:50px;text-align:left;}
.soc1 .sec4 .list_desc dl+dl{margin-top:30px;}
.soc1 .sec4 .list_desc dt{margin-bottom:11px;font-size:12px;font-weight:700;}
.soc1 .sec4 .list_desc dd{font-size:12px;}
.soc1 .sec4 .list_desc .list_dot li::before{top:8px;}
.soc1 .sec6 .ct_tit2{margin-bottom:85px;}
.soc1 .sec7 .tit_box dd{padding-top:0;}
.soc1 .sec7 .tit_box dd:before{display:none;}
.soc1 .sec7 .rule_list{margin-top:80px;text-align:center;}
.soc1 .sec7 .rule_tit p{margin-bottom:26px;color:#19B29B;font-size:3.4rem;}
.soc1 .sec7 .rule_box{margin-top:80px;}
.soc1 .sec7 .rule_box+.rule_box{margin-top:49px;}
.soc1 .sec7 .rule_sub_tit{display:block;margin-bottom:35px;color:#222;line-height:100%;}
.soc1 .sec7 .rule_box ul{display:flex;justify-content:center;gap:20px;}
.soc1 .sec7 .rule_box li{display:flex;flex-direction:column;align-items:center;gap:20px;font-size:1.5rem;text-align:center;}
.soc1 .sec7 .faq-list4{margin-top:0;border-top:none;}
.soc1 .sec7 .faq-list4 li:first-child a.faq-trigger{padding:0 0 80px;}
.soc1 .sec7 .faq-list4 li.content-visible:first-child a.faq-trigger{padding:0 0 20px;}
.soc1 .sec8 .scroll_wrap{margin-bottom:20px;}
.soc1 .sec8 .img_box{display:flex;align-items:center;justify-content:flex-end;gap:40px;min-width:880px;margin:20px 0 0;padding:40px 35px;border-top:1px solid #ddd;background:#f8f8f8;}

/* mobile */
@media all and (max-width: 990px) {
    br.pc{display:none;}
    br.mo{display:block;}

    .sust_safety.new div[class^="sec"]{padding:60px 0 40px;}
    .sust_safety.new div[class^="sec"]:last-of-type{padding:60px 0 0;}
    .sust_safety.new div.full{padding:60px 15px 40px;}

    .ct_tit2>p{margin-top:30px;}
    .list_dot li::before{top:8px;}
    .board_tit{margin-bottom:40px;}
    .faq-list3{border-top:none;}
    .faq-list3 li+li{margin-top:40px;}
    .faq-list3 li a.faq-trigger{padding:0;}
    .faq-list3 li a.faq-trigger>div{padding-bottom:20px;}
    .faq-list3 li a.faq-trigger .mo-tit{display:block;}
    .faq-list3 li a.faq-trigger::after, .faq-list3 li a.faq-trigger::before{top:18px;}
    .faq-list3 .faq-content{padding:20px 10px;}
    .gov3 .faq-list li a.faq-trigger{padding:60px 0;}
    .faq-list4 li a.faq-trigger{padding:40px 0;font-weight:700;}
    .faq-list4 li.content-visible a.faq-trigger{padding:40px 0 20px;}
    .faq-list4 .faq-content{background:#fff;padding:0 0 40px;}
    .faq-list4 li a [class^="tit"]::after{right:0;}
    .faq-list4 li a [class^="tit"]{padding-right:25px;word-break:keep-all;}
    .tit_box{flex-wrap:wrap;margin-top:0;gap:25px;}
    .tit_box dt,
    .tit_box dd{width:100%;margin-top:0;}
    .tit_box dd .text+.list_dot{margin-top:40px;}
    .tit_box dd .ceo_sign{margin-top:30px;}
    .goal{width:100%;padding:15px;}
    .goal ul{padding:35px 0;}
    .goal ul li{font-size:2.2rem;}
    
    .step_list{margin-top:40px;gap:37px;}
    .step_list > div{width:100%;min-height:auto;padding:0;background:#fff;}
    .step_list > div::before{display:none;}
    .step_list .list_dot{margin-top:24px;}
    .step_sub_txt p{word-break:keep-all;}

    .certi_box{margin:40px auto 0;gap:50px;flex-direction:column;padding:0;}
    .certi_box + .certi_box{margin-top:40px;padding-top:60px;border-top:1px solid #ddd;}
    .certi_box .tit{display:none;}
    .certi_box .tit.mobile{display: block;margin-bottom:30px;}
    .certi_box .img_box{text-align:left;order:0;}
    .certi_box dl + dl{margin-top:30px;}
    
    /* content */
    .env1 .ct_tit2{margin-bottom:40px;}
    .env1 .sec1{padding-top:0 !important;}
    .env1 .sec1 .tit_box{margin-top:50px;}
    .env1 .sec3 .img_box{padding:0;}
    .env1 .sec3 .system_list{position:relative;display:flex;flex-direction:column;gap:40px;margin-top:40px;}
    .env1 .sec3 .system_list dl{position:relative;padding-top:20px;}
    .env1 .sec3 .system_list dl .tit_mo{display:block;}
    .env1 .sec3 .system_list dl .tit_mo::before{content:'';position:absolute;left:0;bottom:0;width:25px;height:2px;background:#19B29B;}
    .env1 .sec3 .system_list dl.list_01{left:0;transform:translate(0);}
    .env1 .sec3 .system_list dl.list_02{left:0;bottom:0;text-align:left;}
    .env1 .sec3 .system_list dl.list_03{right:0;bottom:0;}
    .env1 .sec3 .system_list dl dt{font-size:15px;}
    .env1 .sec3 .system_list dl dd{margin-top:20px;}
    .env1 .sec3 .system_list .list_dot li::before{background:#222;}
    .env1 .sec3 .system_list .list_dot.right li{padding-left:9px;padding-right:0;}
    .env1 .sec3 .system_list .list_dot.right li:after{right:auto;left:0;}
    .env1 .sec4 .process_list{margin-top:28px;flex-wrap:wrap;gap:26px;row-gap:38px;}
    .env1 .sec4 .process_list dl{width:calc(50% - 13px);}
    .env1 .sec4 .process_list dl+dl{margin-left:0;}
    .env1 .sec4 .process_list dl+dl::before{display:none;}
    .env1 .sec4 .process_list dt{padding-bottom:19px;}
    .env1 .sec4 .process_list dt::before{display:none;}
    .env1 .sec5 .certi_box .tit{display:block;}
    .env1 .sec6 .img_box li+li{margin-top:40px;padding-top:40px;border-top:1px solid #ddd;}
    .env1 .sec6 .img_box img{max-width:100%;}
    .env1 .sec7 .ct_tit2{margin-bottom:30px;}
    .env2 .tit_box{padding-bottom:40px;}
    .env2 .sec3 dd{gap:40px;}    
    .env3 .img_list{margin-top:40px;}
    .env3 .sec1 .sub_text{margin-top: 40px;word-break:keep-all;}
    .env3 .sec1 .txt_info{text-align:left;}    

    .soc1 .sec1 .img_box{margin-bottom:40px;}
    .soc1 .sec3 .step_sub_txt.top{margin:0 0 45px;}
    .soc1 .sec3 .step_sub_txt{margin-top: 37px;}
    .soc1 .sec3 .step_list{margin-top:60px;gap:37px;}
    .soc1 .sec3 .step_list > div{padding: 0;}
    .soc1 .sec3 .step_list dl dt{margin-bottom:10px;}
    .soc1 .sec4 .ct_tit2{margin-bottom:40px;}
    .soc1 .sec4 .list_desc{display:block;}
    .soc1 .sec6 .ct_tit2{margin-bottom:55px;}
    .soc1 .sec7 .faq-list4 li:first-child a.faq-trigger{padding:0 0 40px;}
    .soc1 .sec7 .rule_list{margin-top:40px;padding-top:60px;border-top:1px solid #ddd;}
    .soc1 .sec7 .rule_tit p{margin-bottom:20px;font-weight:700;}
    .soc1 .sec7 .rule_box{margin-top:60px;}
    .soc1 .sec7 .rule_box+.rule_box{margin-top:40px;}
    .soc1 .sec7 .tit_box dd .text+.list_dot{margin-top:30px;}
    
}
@media all and (max-width: 768px) {

    .img_list.col04{column-gap:15px;}
    .img_list.col05{flex-wrap:wrap;}
    .img_list li{width:100%;}
    .img_list.col02 li{width:100%;}
    .img_list.col04 li,
    .img_list.col05 li{width:calc(50% - 15px);}    
    .img_list li img{width:100%;}
    .img_list p{font-size:12px;}
    .img_list p.pc{display:none;}
    .img_list p.mobile{display:block;margin:10px 0 0;}

    /* tab menu */
    .sust_safety.new .sub_tab a{padding:12px 0;font-size:1.2rem;height:40px;}
    .sust_safety.new .sub_tab a.on{padding:12px 0;}
    .sust_safety.new .sub_tab.type2{margin:0 auto 40px;}
    .sust_safety.new .sub_tab.type2 a.on{padding:12px 0;border:2px solid #00a88e;}
    .sust_safety.new .sub_tab.type2 a.on::before{display:none;}

    .category_nav.type3{margin:0 0 60px;border:0;}
    .category_nav.type3.gov4_2{margin:0 0 40px;}
    .category_nav.type3 a{font-size: 1rem;border:1px solid #ddd;border-right:none;}
    .category_nav.type3 a:last-child{border-right:1px solid #ddd;}
    .category_nav.type3 a.on,
    .category_nav.type3 a:hover{background:#00A88E;color:#fff;}    
    .category_nav.type3.sin_ver{flex-wrap:wrap;}
    .category_nav.type3.sin_ver a{width:calc(100% / 2);height:40px;border-color:#ccc;border-bottom:1px solid #ddd;}
    .category_nav.type3.sin_ver a.on{border:2px solid #999;border-bottom:none;}
    .category_nav.type3.sin_ver a:nth-child(n+2){margin-bottom:10px;}    

    .env2 .sec3 .img_list{display:block;}
    .env2 .sec3 .img_list li{flex-direction:column;width:100%;border:none;border-top:1px solid #ddd;}
    .env2 .sec3 .img_list li.left .txt_box{order:0;}
    .env2 .sec3 .img_list .txt_box{width:100%;padding:60px 0 40px;}

    .env3 .sec1 .img_list{border-top:1px solid #ddd;padding-top:40px;}
    .env3 .sec1 .img_list.col02 li{padding:0 0 22px;position:relative;width:100%;}
    .env3 .sec1 .img_list.col02 li p.top{margin-bottom:0;position:absolute;bottom:0;}
    .env3 .sec2 .img_list{column-gap:15px;}
    .env3 .sec3 .img_list{margin-top:40px;}

    .soc1 .sec7 .rule_box ul{flex-wrap:wrap;justify-content:flex-start;}
    .soc1 .sec7 .rule_box li{width:calc(50% - 10px);}
    
} 